nav{
    min-width: 800px;
}
nav ul {
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: initial;
}

nav a:hover{
    text-decoration: none;
    color: initial;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #242424;
}


.title {
    flex-grow: 1;
    text-align: center;
    margin-left: 5vw;
}

.user-icon {
    margin-right: 20px;
    font-size: 24px;
}

